.headerComponent {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    text-align: center;

    .logo {
        height: 80px;
    }
    
    .title {
        font-size: 1.5em;
    }
}