@import '../../style/shared/_conf';

.alertComponent {
    &.alertButton {
        display: flex;
        justify-content: space-between;
      
        a {
          color: $white !important;
        }
    }
  }
  