@import '../../style/shared/_conf';

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loaderComponent {
    width: 40px;
    height: 40px;
    border: 3px solid transparent;
    border-left: 3px solid $blue;
    border-bottom: 3px solid $blue;
    border-radius: 50%;
    animation-duration: 500ms;
    animation-timing-function: linear;
    animation-name: rotate;
    animation-iteration-count: infinite;

    &.loaderCenter {
        position: absolute;
        top: calc(50% - 16px);
        left: calc(50% - 16px);
    }
    
    &.loaderSmall {
        width: 20px;
        height: 20px;
        border-left: 3px solid $white;
        border-bottom: 3px solid $white;
    }
}


