@import '../../style/shared/_conf';

.formComponent {
    &:not(.buttonTop) {
        margin-bottom: 70px;
    }

    .buttonSavePost {
        float: right;
    }

    &.buttonCenter {
        position: relative;
        display: block;
        height: 100vh;

        button {
            position: absolute;
            top: calc(50% - 60px);
            left: calc(50% - 60px);
            width: 120px;
        }
    }

    &.buttonTop {
        margin-top: 16px;

        button {
            width: 100%;
        }
    }
}