@import './shared/_conf';
@import './font/_font';

body {
    margin: 0;
    padding: 0;
    font-family: 'roboto';
}

h1 {
    font-size: $standard + 6;
}

h2 {
    font-size: $standard + 4;
}

p,
a,
span,
strong,
div {
    font-size: $standard;
}