.postComponent {
    position: relative;
    width: 100%;

    .content {
        flex: 1 1;
        word-break: break-word;
    }

    button {
        position: absolute;
        right: 0;
        top: 10px;
    }
}